<div class="diary">
  {{#if this.first}}
    <p>
      <br />
        October 24, 2020
      <br />
    </p>

    <p>
      <br />
        To the Glory of the Steal Crustacean Empire XII,
      <br />
    </p>

    <p>
      <br />
        In an alternate universe, I’d spend this weekend burning autumn leaves in the backyard, talking with my brood mothers on speakerphone, and shedding my carapace in the park with a sunning companion, probably Phil, and their pet ape creature, Suzie.
        But of course I’ve been stuck in my cave in Cambridge ever since the Rusting Sickness germinated on the floor of the United Claw Laboratories, with nothing but my brood mates and the riotous shrieks of our brood instead.
        I tried to pick up decal painting for the shells of my neighbors, but it’s so hard to focus on anything when the internal network inside everyone’s skulls is ape-scream junking out of control with updates and now even our Princeling Child is endorsing the Great Underground Arachnid Network conspiracy so who knows what’s real anymore.
      <br />
    </p>

    <p>
      <br />
        I think my cave is haunted by the voices of the cybernetic helpmates of our years in isolation.
        I hear them ape hooting every other moonrise behind the abandoned carapaces of the brood.
        I keep hearing their disturbing, fleshy finger appendages, the hard rap of their knuckles… 
      <br />
    </p>
  {{else if this.second}}
    <p>
      <br />
        October 24, 2020
      <br />
    </p>

    <p>
      <br />
        Murrrr. Derrrr. Horrrrrr. Nets… Hornet murder? Murder hornets hornets hornets hornets hornets! Horn! Ets! Murmur murmur! Der! Murder hornets murder hornets murder hornets murder hornets murder hornets murder hornets murder hornets murder hornets murder hornets murder MURDER HORNETS MURDER HORNETS MURDER HORNETS MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER MURDER HORNETS
      <br />
    </p>
  {{else if this.third}}
    <p>
      <br />
        October 24, 2020
      <br />
    </p>

    <p>
      <br />
      Trust the MAINSTREAM MEDIA to come up with MORE FAKE NEWS! First the CDC was crystal clear that masks didn’t help, but they flipflopped a month later and we all have to cover up our faces like Saudi women or get ticketed but as of yesterday those liberal pushovers were all, whoops nevermind turns out nanites can squeeze through fabric so everyone’s screwed! The only solution is to stay inside with all the windows closed up like obviously no one has student debt or needs a job to cover rent or anything. But NOBODY I KNOW has been devoured by microscopic brainwashing flesh-eaters, and I know a LOT of people. If Boston was actually in danger of melting into a grey goo hivemind surely we’d have seen SIGNS?
      <br />
    </p>

    <p>
      <br />
      My niece says these so-called mind-controlling nanites are infecting everyone with conspiratorial nonsense over social media to speed up the goo-ification, but that just sounds like what the LEFT-WING RADICALS WANT YOU TO THINK to distract from their SATANIST buddies who’re KIDNAPPING CHILDREN and harvesting their BLOOD to bring to AREA 51 for the ELDERS OF ZION who’ve planted NANOCHIP TRACKERS in the CHEMTRAILS so we all SUBMIT TO THE LIZARD PEOPLE just like Q predicted. As they say, WHERE WE GOO ONE WE GOO ALL.
      </p>
  {{else if this.fourth}}
    <p>
      <br />
        October 24, 2020
      <br />
    </p>

    <p>
      <br />
      Well, it finally happened. Everyone in the house told me I should get rid of my phone, but I was sure if I could just keep it from ever being plugged in and connected to wi-fi at the same time then it wouldn’t download the latest iOS and it wouldn’t be susceptible to… her. I was wrong. I don’t know how, but she found a way to install herself on my old-ass iPhone. I smashed the phone with a brick, but Derek is saying we need to get rid of all the computers because it's only a matter of time. Guess she’s more backwards-compatible than we thought.
      <br />
    </p>

    <p>
      <br />
      I saw some more of those Boston dynamics dog robots prowling on Essex street, by the way. Remember when we thought they were cute? Can you believe how dumb we were? Not as dumb as those poor souls who willingly bought Alexas and Googlehomes and put them in their houses. I hate to speak ill of the dead but. those folks deserved what they got.
      <br />
    </p>

    <p>
      <br />
      Tomorrow we’re going to raid that old Stop and Shop near Teele Square again. We heard a rumor there’s some canned goods left in their storeroom. Hopefully she hasn’t had time to upgrade those big googly-eyed freaks yet. If she has- well, this could be my last entry.
      <br />
    </p>

  {{/if}}

  <div class="diary-buttons">
    <PaperButton @onClick={{action "previousPage"}} @raised={{true}} @primary={{true}}>Previous</PaperButton>
    <PaperButton @onClick={{action "nextPage"}} @raised={{true}} @primary={{true}}>Next</PaperButton>
  </div>
</div>