<Floor @svg="attic">
  <div class="arrow arrow-study">
    <a class="svg-link" href="https://youtu.be/jDGmi6vffdk" target="_blank">
      {{svg-jar "arrow-southeast" class="arrow-svg arrow-southeast"}}
    </a>
  </div>  
</Floor>

{{#if this.bookshelf}}
  <Modal @classNames="image-dialog" @onClose={{this.toAttic}}>
    <img
      class="image earth-to-moon"
      src="/assets/images/earth-to-moon.png"
      alt="A leatherbound edition of De La Terre A La Lune by Jules Verne"
    />
  </Modal>
{{/if}}

{{#if this.northeast_window}}
  <Modal @classNames="image-dialog" @onClose={{this.toAttic}}>
    <img
      class="image"
      src="/assets/images/wyoming-sky.png"
      alt="The evening sky above a long, empty road"
    />
  </Modal>
{{/if}}

{{#if this.northwest_window}}
  <Modal @classNames="image-dialog" @onClose={{this.toAttic}}>
    <img
      class="image devils-tower"
      src="/assets/images/devils-tower.jpg"
      alt="A black and white photo of Devil's Tower, a huge striated rock formation in Wyoming"
    />
  </Modal>
{{/if}}

{{#if this.magnifying_glass}}
  <Modal @classNames="notebook-paper lonely-text" @onClose={{this.toAttic}}>
    <div class="ruled-page">
      <p class="right-align">
        Thursday, May 22, 1997
        <br /><br />
      </p>
      <p class="no-indent">
        Creative writing prompt: “When is a time you felt alone but not lonely?”
        <br /><br />
      </p>
      <p>
        I want to say, “Every time I come home after class and my roommates aren’t
        here,” but I didn’t start feeling like that toward the house until a few years back.
        It was when Mark and his brothers came over and said, “We’re smoking tonight, my
        dudes!” and he pulls out a blunt and we pass it around. It was my first time. He said
        it doesn’t make you hallucinate. I trusted him about this kind of stuff. He was older
        than the rest of us. This was the summer before he got in the accident when he and
        his friends were on the roof. That was a really bad time and I don’t want to get into
        it.
      </p>
      <p>
        But the curtain in the living room, right? I looked up, and it was moving, not
        like the wind had grabbed it, but like someone was behind it. And the folds started to
        hug something at about my height—a nose, a mouth, A face.
    </p>
      <p>      
        The weird thing is I didn’t think about panicking. I just whacked Mark’s arm.
        “Dude! It’s the lady who lived here before us! Who wrote all the poetry we find be-
        tween the floorboards sometimes? She’s smiling! It kept her.”
      </p>
      <p>
        Mark’s face went white. “What?”
    </p>
      <p>      
        “Oh, you know,” I said, as the face in the curtain smiled.
    </p>
      <p>      
        “What are you talking about, man? You’re crazy!” He laughed.
      </p>
      <p>
        The next moment, though, the curtain was a curtain again, and I didn’t re-
        member what I was talking about. The poetry shoved between the floorboards, sure,
        but the fact a lady had written it and she was a ghost, now? It was news to me,
        too.
      </p>
      <p>
        I never saw the face in the curtain again. I dream about it plenty, though,
        always in the same room, but it’s a room in the house I’ve never been in before
        where it’s always summer. I wake up when I hear people start to sing.
      </p>
    </div>
  </Modal>
{{/if}}

{{#if this.cat}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toAttic}}>
    <p>
      <br />
        so miserable for years because I began to fight the house.
        It was talking to me and I didn't want it to anymore.
        It used to be so normal.
        Then, one day, I thought to myself,
        "People don't talk to their houses. Stop being crazy."
        I realize, now, that things with thoughts but no mouths can't speak in words, and that being crazy is better than being lonely and sane.
      <br />
    </p>
    <p>
      <br />
        So I stopped fighting her.
        I let my home consume me, and when I did, I realized I could consume it right back.
        By fighting the pull of her, I had been fighting myself all along.
      <br />
    </p>
    <p>
      <br />
        You told me, when we last spoke on the phone, that you really do think the place is haunted.
        I think it's just awake.
        Or, if it is haunted, I think I'll haunt her, too.
      <br />
    </p>
    <p>
      <br />
        I'll see you when I fly out in September.
        I'm having the little boy down the street, Mark, feed the orange tabby cat while I'm away, though God knows that creature eats enough already.
      <br />
    </p>
    <p>
      <br />
      All my love, and then some more,
    </p>
    <p>
      <br />
      J.
    </p>
    <p>
      <br />
      11-12-83
    </p>  
  </Modal>
{{/if}}

{{#if this.tube}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toAttic}}>
    <p>
      <br />
        Home Shapes
      <br /><br /><br />
    </p>

    <p>
      <br />
        O, give me a home,<br />
        amorpous and many-tentacled,<br />
        the way it lingers strange but familiar<br />
        ever-expanding in its vastness,<br />
        its love,<br />
        a space that opens without any interest<br />
        in the logic of physics
      <br />
    </p>
    <p>
      <br />
        or a geometry confined to that flimsy thing, the realm of the real,<br />
        that collapses in on itself,<br />
        made fragile by time<br />
        while a sense of home only grows stronger
      <br />
    </p>
    <p>
      <br />
      in its compounding years.
      <br />
    </p>
    <p>
      <br />
      The house is just the shell<br />
      with nothing inside of it.<br />
      <br />
    </p>
    <p>
      <br />
      7-20-76
    </p>  
  </Modal>
{{/if}}