<Floor @svg="first-floor">
  <div class="arrow arrow-kitchen">
    <a class="svg-link" href="https://youtu.be/gnBtJMqd42s" target="_blank">
      {{svg-jar "arrow-southwest" class="arrow-svg arrow-southwest"}}
    </a>
  </div>
</Floor>

{{#if this.bookshelf}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toFirstFloor}}>
    <p>
      and when I fall asleep here, the bed I’m in becomes my childhood bed, and my pillow belongs to the head that was five-years old when I rested there.
      Even if it’s silent, I hear my old neighbors singing— what they used to sing, anyway—their houses ignited from the inside out like lanterns or fireflies stuck in bottles.
      Summer sounds, to me, are the trill of voices, competing with each other in music and laughter.
      It’s strange because this room is thousands of miles away from the room of my child- hood, but at nights, it becomes the same room with the residue of those long ago evenings.
    </p>
    <p>      
      And the house! That marvel, she listens in, holds me, cradles me without much care whether I’m ten or twenty. Its lullaby are the staccato creaks of floorboards, the whine of doors opening, foot- steps made by the memory of feet, the rattle of a lamp swinging on a lintel torn down years before. It’s all as familiar to me as the rattle of my heart before I curl myself around it and go to sleep.
    </p>
    <p>
      <br /><br />
      Thinking of you.
    </p>
    <p>
      <br /><br />
      All my love,
    </p>
    <p>
      J.
    </p>
    <p>
      <br /><br />
      5-9-71
    </p>
  </Modal>
{{/if}}

{{#if this.bookshelf}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toFirstFloor}}>
    <p>
      and when I fall asleep here, the bed I’m in becomes my childhood bed, and my pillow belongs to the head that was five-years old when I rested there.
      Even if it’s silent, I hear my old neighbors singing— what they used to sing, anyway—their houses ignited from the inside out like lanterns or fireflies stuck in bottles.
      Summer sounds, to me, are the trill of voices, competing with each other in music and laughter.
      It’s strange because this room is thousands of miles away from the room of my child- hood, but at nights, it becomes the same room with the residue of those long ago evenings.
    </p>
    <p>      
      And the house! That marvel, she listens in, holds me, cradles me without much care whether I’m ten or twenty. Its lullaby are the staccato creaks of floorboards, the whine of doors opening, foot- steps made by the memory of feet, the rattle of a lamp swinging on a lintel torn down years before. It’s all as familiar to me as the rattle of my heart before I curl myself around it and go to sleep.
    </p>
    <p>
      <br /><br />
      Thinking of you.
    </p>
    <p>
      <br /><br />
      All my love,
    </p>
    <p>
      J.
    </p>
    <p>
      <br /><br />
      5-9-71
    </p>
  </Modal>
{{/if}}

{{#if this.wine_bottle}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toFirstFloor}}>
    <p>
      A Breath that Wants to Be Held<br />
      <br />
      I, with the breath, could only wait to be held.<br />
      Sing up, sweet, blow out, pull in.<br />
      I un-fill myself,<br />
      all breath made light butterflies<br />
      falling out of my chest,<br />
      not to fly up&nbsp;<span class="strikeout-container"><span class="strikeout-item">in the house</span><span class="strikeout-item">XXXXXXXXXXXX</span></span><br />
      but to fall in a clump<br />
      like snow off of a branch.<br />
      <br />
      2-3-74
    </p>
  </Modal>
{{/if}}

{{#if this.kitchen_clock}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toFirstFloor}}>
    <p>
      Thousands of Years, But in Dreams<br />
      <br />
      When time passes us in dreams,<br />
      our eyes sealed tight,<br />
      we need only think that a long time has passed<br />
      for it to be so.<br />
      <br />
      The bright knife of the&nbsp;<span class="strikeout-container"><span class="strikeout-item">house's</span><span class="strikeout-item">XXXXXXXX</span></span><br />
      unconscious peels back logic’s skin,<br />
      flensing off worldly boundaries<br />
      so we may adhere only to our own blood and bones.<br />
      <br />
      You die in sleep, you die a death of your own creation,<br />
      and time both stretches out for millennia<br />
      and is as permanent as a sugar cube melting in a pool,<br />
      as Sunday afternoon,<br />
      as sunlight slanting downward<br />
      to kiss the pillow where you wake.<br />
      <br />
      6-17-75
    </p>
  </Modal>
{{/if}}

{{#if this.living_room_clock}}
  <Modal @classNames="parchment poet-dialog" @onClose={{this.toFirstFloor}}>
    <p>
      nightmares keep coming.
      There are shapes in them, moving between different versions of the house.
      Does that make sense?
      As soon as I try to put words to it, I know it’s wrong.
      The closest I’ve found to the right description is from that short story we all read in school, “The Yellow Wallpaper”:
      <br />
    </p>
    <p class="italic">
      <br />
      I wasn’t alone a bit! As soon as it was moonlight, and that poor thing began to crawl and shake the pattern, I got up and ran to help her.
      I pulled and she shook, I shook and she pulled, and before morning we had peeled off yards of that paper.
      A strip about as high as my head and half around the room.
      And then when the sun came and that awful pattern began to laugh at me I declared I would finish it to-day!
      <br />
    </p>
    <p>
      <br />
      This is what the dreams are like.
      Regardless, I think maybe you’re right.
      The real problem is I have to stop having a night cap (or two) before bed!
      <br />
    </p>
    <p>
      <br />
      All the love I can give,
    </p>
    <p>
      <br />
      J.
    </p>
    <p>
      <br />
      1-8-76
    </p>  
  </Modal>
{{/if}}

{{#if this.begonias}}
  <Modal @classNames="begonia-dialog parchment" @onClose={{this.toFirstFloor}}>
      <p>
        Roger acquired this cutting from a man who said he purchased it in Thailand.
        He didn't know the specific name of the plant, but it seems to be some sort of begonia- I plan on writing to some botanists who specialize in plants from the orient to see if any of them can identify it.
        For now I’ve given it a place of honor at the front of the conservatory.
        I know it's foolish, when I don’t even know what it's going to look like, but I just have this feeling about it.
        Like I know it will become something wonderful if only given the chance.
        I hope it will thrive in our climate.
      </p> 
  </Modal>
{{/if}}

{{#if this.lemongrass}}
  <Modal @classNames="begonia-dialog parchment" @onClose={{this.toFirstFloor}}>
      <p>
        It appears our little begonia has caused quite a stir in the local horticultural community.
        It seems no one can identify it- but they all seem drawn to it.
        Many, many people have asked me for cuttings, and it grows so quickly I’ve been more than happy to oblige.
        It’s begun to develop the most fascinating wide, flat leaves- I wonder if spring will see it flowering?
      </p> 
  </Modal>
{{/if}}

{{#if this.snake_plant}}
  <Modal @classNames="begonia-dialog parchment" @onClose={{this.toFirstFloor}}>
      <p>
        Some of the botanists who accepted cuttings from our little begonia have written to me to tell me the cuttings are not thriving- most unusual, since all of the ones I’ve placed around the house have been doing quite well.
        Except the ones I keep putting in the kitchen- those keep vanishing.
        Very strange.
      </p> 
  </Modal>
{{/if}}

{{#if this.pothos}}
  <Modal @classNames="begonia-dialog parchment" @onClose={{this.toFirstFloor}}>
      <p>
        <span class="cutive-mono">Excerpt from the last will and testament of Mrs. Imelda Christopherson.</span>
        <br /><br />
        There exists, in the conservatory of the house, a most peculiar begonia- it’s exact species no one has ever been able to tell me but it was, for a time, a minor sensation among the botanical societies of Cambridge.
        Given its uniqueness and its apparent inability to thrive in any climate other than this house it is, quite frankly, invaluable.
        I leave it to Ms. Elena Harris.
        It may seem an odd thing to leave something so precious to the daughter of an old servant, but it is what the tree told me to do.
        I know, you think me mad, but I assure you, I am sound of mind as I make this request.
        The begonia has chosen Ms. Harris as its caretaker.
        It will have no other.
        I ask that she be given room and board and a generous stipend for undertaking this sacred duty.
      </p> 
  </Modal>
{{/if}}

{{#if this.begonia_sketch}}
  <Modal @classNames="begonia-dialog parchment bad-script" @onClose={{this.toFirstFloor}}>
      <p>
        Dear Henry,
        <br /><br />
        Something very strange has happened.
        An old employer of my mother passed away, and her son approached me with a most unusual proposition- it is most strange and I fear there may be some sinister purpose behind it.
        But alas, I cannot turn down the opportunity.
        So much money for such a simple task.
        And so I must bid you adieu, for now and return to Cambridge.
        I know our paths will cross again.
        <br /><br />
        Yours always,
        <br />
        Elena
      </p> 
  </Modal>
{{/if}}